@*
* This template takes a single argument, a String containing a
* message to display.
*@
@import util.ConvertData

@(message: String,webJarAssets: WebJarAssets)


@*
* Call the the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("AsciiArtConverter",webJarAssets) {
    @message

    <form id="settingForm"  method="post" action="">
        <input type="file" name="picture" id="sendFile"/>
        <input type="submit" id="submit" value="送信" accept="image/*">
    </form>

    <p>ascii art will be shown here</p>
    <br>
    <div class="btn-group">
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i> <span class="caret"></span></button>
            <ul class="dropdown-menu" id="font-size">
                <li><a href="#" data-size="8">小さい</a></li>
                <li><a href="#" data-size="16">普通</a></li>
                <li><a href="#" data-size="24">大きい</a></li>
            </ul>
        </div>
        <button id="save" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i></button>
    </div>

    <div id="editor" style="height: 600px"></div>
    <script src='@routes.Assets.versioned("javascripts/ace-setting.js")'></script>
    <script src="@routes.Assets.versioned("javascripts/aaconvert.js")"></script>


}
