@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("AsciiArtConverter") {

    <div id="drop-zone">ここにドロップ！</div>
    <div id="print_img">
        <p id="width-height">width: height: </p>
        <p>↓以下に画像を表示</p>
        <img id="image" alt="" class="img-responsive center-block"><br><br>

        <br><br>
        <p>↓以下にdataURLを表示</p>
        <textarea name="name" id="print_DataURL" readonly></textarea>
    </div>

    <script src='@routes.Assets.versioned("javascripts/drag-drop.js")'></script>

}
